[column]
  ui = auto

[branch]
  sort = -committerdate

[init]
  defaultBranch = develop

[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true
  tool = difftastic
  external = difft

[difftool]
  prompt = false

[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"

[pager]
  difftool = true

[push]
  default = simple
  autoSetupRemote = true
  followTags = true

[fetch]
  prune = true
  pruneTags = true
  all = true

[user]
  name = {{ .git.name }}
  email = {{ .git.email }}
  signingkey = {{ .git.signingkey }}

[tag]
  gpgSign = true
  sort = version:refname

[core]
  editor = nvim
  pager = less

[commit]
  verbose = true
  gpgsign = true

[help]
  autocorrect = prompt

[rebase]
  autoSquash = true
  autoStash = true
  updateRefs = true

[rerere]
  enabled = true
  autoupdate = true


[merge]
  conflictstyle = zdiff3

[lfs]
  allowincompletepush = true

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
