[column]
  ui = auto

[branch]
  sort = -committerdate

[init]
  defaultBranch = develop

[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true
  tool = difftastic
  external = difft

[difftool]
  prompt = false

[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"

[pager]
  difftool = true

[push]
  default = simple
  autoSetupRemote = true
  followTags = true

[fetch]
  prune = true
  pruneTags = true
  all = true

[user]
  name = {{ .git.name }}
  email = {{ .git.email }}
{{- if .git.signingkey }}
  signingkey = {{ .git.signingkey }}
{{- end }}
{{- if .git.signingkey }}

[gpg]
  format = {{ if or (hasSuffix ".pub" .git.signingkey) (contains "/.ssh/" .git.signingkey) }}ssh{{ else }}openpgp{{ end }}
{{- if or (hasSuffix ".pub" .git.signingkey) (contains "/.ssh/" .git.signingkey) }}

[gpg "ssh"]
  allowedSignersFile = ~/.config/git/allowed_signers
{{- end }}
{{- end }}

[tag]
{{- if .git.signingkey }}
  gpgSign = true
{{- end }}
  sort = version:refname

[core]
  editor = nvim
  pager = less

[commit]
  verbose = true
{{- if .git.signingkey }}
  gpgsign = true
{{- end }}

[help]
  autocorrect = prompt

[rebase]
  autoSquash = true
  autoStash = true
  updateRefs = true

[rerere]
  enabled = true
  autoupdate = true


[merge]
  conflictstyle = zdiff3

[lfs]
  allowincompletepush = true

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
